# Loyihaga xos
__pycache__/
*.pyc
.venv/
venv/
.env
storage/
*.db
.pytest_cache/
build/
.dart_tool/
.flutter-plugin-dependencies

# Byte-compiled / optimized / DLL files
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
cover/

# Translations
*.mo
*.pot

# Django/Flask stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter/IPython
.ipynb_checkpoints
profile_default/
ipython_config.py

# Environments
.envrc

# Type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/

# Ruff
.ruff_cache/

# PyPI
.pypirc

# Temp
tempCodeRunnerFile.py